# Supabase Configuration
SUPABASE_URL=https://ihameevapgnfkzrlezjc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloYW1lZXZhcGduZmt6cmxlempjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU2NzQ0MDAsImV4cCI6MjA1MTI1MDQwMH0.Ej8Ej8Ej8Ej8Ej8Ej8Ej8Ej8Ej8Ej8Ej8Ej8Ej8Ej8

# GitHub Actions (para despliegue automático)
SUPABASE_ACCESS_TOKEN=your_supabase_access_token_here

# Desarrollo Local
SUPABASE_DB_PASSWORD=postgres
SUPABASE_DB_HOST=localhost
SUPABASE_DB_PORT=54322 